.contactListfooter{
    display: flex;
    justify-content: space-around;
    gap: 50px;
    align-items: center;
    padding: 5px 25px 0px 20px;
    border-top: 1px solid var(--textArea-color);
}

.btn-contactFooter{
    width: 66px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 23px;
}

.btn-footerText{
    font-size: 13px;
}


