.addToFavorite{
    width: 100vw;
    background-color: white;
    margin-bottom: 30px;
}
.btn-addToFavorite{
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    padding: 10px;
}
.addToFavoriteText{
    font-size: 17px;
}

@media screen and (min-width: 1200px){
    .btn-addToFavorite{
        font-size: 20px;
        padding: 10px 0px 10px 48px;
    }
} 

@media screen and (min-width: 1680px){
    .btn-addToFavorite{
        font-size: 35px;
        padding: 10px 0px 10px 46px;
    }
    .addToFavoriteText{
        font-size: 28px;
    }
} 