.switchIcon {
    font-size: 45px;
}
.bi-toggle-on {
    transition: .5s;
    color: var(--app-color);
}
.bi-toggle-off {
    transition: .2s;
    color: rgba(49, 48, 48, 0.788);
}

@media screen and (min-width: 1200px) {
    .switchIcon {
        font-size: 55px;
    }
}

@media screen and (min-width: 1680px) {
    .switchIcon {
        font-size: 65px;
    }
}