.contacts{
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.addContactResponsive{
    display: none;
}

.contactSearch{
    display: flex;
    justify-content: center;
    margin: 10px 0px 5px 0px;
}

.contactSearchInput{
    width: 95%;
    height: 35px;
    border: none;
    border-radius: 15px;
    padding-left: 10px;
    background-color: var(--textArea-color);
    font-weight: 500;
}

.btn-addContact{
    background-color: var(--app-color);
    font-size: 25px;
    color: white;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 2px 3px rgba(99, 99, 99, 0.616);
    position: fixed;
    bottom: 78px;
    right: 25px;
}
