.writtingText{
    width: 100%;
    /* display: flex; */
    position: absolute;
    bottom: 7px;
    background-color: transparent;
    /* height: 500px; */
    /* padding: 0px 0px 213px 31px; */
    /* margin: 0px 0px 15px 0px; */
}
.form{
    /* width: 80%; */
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 4px;
    /* padding-bottom: 157px; */
    /* position: relative; */
    /* bottom: 17px; */
}
.textArea{
    display: flex;
    align-items: center;
    background-color: var(--textArea-color);
    width: 85%;
    border-radius: 20px;
    padding-left: 2px;
    margin-left: 2px;
}
.textInput{
    color: rgb(65, 65, 65);
    font-weight: 500;
    /* text-shadow: 0px 0px 0.5px rgb(0, 0, 0); */
    background-color: transparent;
    border: none;
    height: 30px;
    padding-left: 2px;
}
.textInput::placeholder{
    color: rgb(58, 58, 58);
}
.textInput:focus{
    border-color: red;
}
.btn-submit{
    background-color: var(--app-color);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    color: white;
    margin-left: 3px;
}
.disabled{
    background-color: grey;
}
.smileFace, .bi-paperclip, .bi-camera{
    color: rgb(58, 58, 58);
    font-size: 18px;
    padding: 2px;
}

