.contactsCardsContainer{
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 10px 5px 0px 5px;
}
.containerImg {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    padding: 0px 15px 0px 15px;
    
}

.contactCard{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    padding: 5px;

}
.topContactCardInfo{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 19px;

}
.lastConection{
    font-size: 13px;
}

.bottomContactCardInfo{
    width: 100%;
    font-size: 13px;
    font-weight: 300;
}

.lastMessage{
    display: flex;
    width: 65vw;
    overflow: hidden;
    white-space: nowrap;
}
