.contactos{
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 0px 5px 0px 5px;
    overflow: hidden;
}
.containerImg {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    padding: 0px 15px 0px 15px;
    
}

.contactCard{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    padding: 5px;

}
.topContactCardInfo{
    width: 100%;
    display: flex;
    justify-content: space-between;

}
.lastConection{
    font-size: 12px;
}

.bottomContactCardInfo{
    width: 100%;
    display: flex;
    font-size: 12px;
    font-weight: 300;
}

.msjNumber{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: var(--app-color);
    color: rgb(0, 0, 0);
}