.userInfoHeader{
    display: flex;
    justify-content: space-between;
    height: 4px;
}

.userInfoCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
}

.imgUser{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    padding: 0px 15px 0px 15px;
}

.btnFunctionContainer{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.btnFunction{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 60px;
    border: 1px solid rgba(160, 160, 160, 0.945);
    border-radius: 18%;
}

.btnFunction:hover{
    color: white;
    background-color: rgba(255, 8, 8, 0.808);
}
.ban:hover{
    color: white;
}

.telephoneUser, .ban{
    color: var(--app-color);
}

.switch-button {
    display: inline-block;
}
.switch-button .switch-button__checkbox {
    display: none;
}
.switch-button .switch-button__label {
    background-color: red;
    width: 5rem;
    height: 3rem;
    border-radius: 3rem;
    display: inline-block;
    position: relative;
}
.switch-button .switch-button__label:before {
    transition: .2s;
    display: block;
    position: absolute;
    width: 3rem;
    height: 3rem;
    background-color: white;
    content: '';
    border-radius: 50%;
    box-shadow: inset 0px 0px 0px 1px black;
}
.switch-button .switch-button__checkbox:checked + .switch-button__label {
    background-color: green;
}
.switch-button .switch-button__checkbox:checked + .switch-button__label:before {
    transform: translateX(2rem);
}