.userInfoHeader{
    display: flex;
    justify-content: space-between;
    height: 4px;
}

.userInfoCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
}

.imgUser{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    padding: 0px 15px 0px 15px;
}

.btnFunctionContainer{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.btnFunction{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 60px;
    border: 1px solid rgba(160, 160, 160, 0.945);
    border-radius: 18%;
}

.cameraUser, .telephoneUser, .searchUser{
    color: var(--app-color);
}