.userInfo{
    background-color: var(--textArea-color);
    display: flex;
    flex-direction: column;
    height: 100vh;
    gap: 7px;
    font-weight: 400;
    font-size: 17px;
}
.userInfoHeader{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: start;
    background-color: white;
    padding-top: 6px;
    padding: 6px 0px 10px 0px;
}
.userInfoCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
}
.imgUser{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    padding: 0px 15px 0px 15px;
}
.btnFunctionContainer{
    display: flex;
    justify-content: center;
}
.btnFunction{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 60px;
    border: 1px solid rgba(160, 160, 160, 0.404);
    border-radius: 20px;
    background-color: transparent;
    font-size: 15px;
}
.telephoneUser{
    font-size: 20px;
    color: var(--app-color);
}
.userStateText{
    display: flex;
    align-items: center;
    background-color: white;
    width: 100vw;
    padding: 15px;
    padding-left: 10px;
}
.notificationsState{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    padding: 15px;
    background-color: white;
}
.notifications{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.messageEncryption{
    display: flex;
    gap: 17px;
    background-color: white;
    padding: 5px 0px 5px 0px;
}
.lockIcon{
    font-size: 22px;
    margin-left: 8px;
}
.messageEncryptionText{
    display: flex;
    flex-direction: column;
    width: 80%;
    
}
.encryptionTitle{
    font-size: 20px;
}
.encryptionText{
    font-size: 17px;
}


@media screen and (min-width: 1200px) {
    .userInfo{
        font-size: 20px;
    }
    .imgUser{
        width: 100px;
        height: 100px;
        padding: 0px 15px 0px 15px;
    }
    .btnFunction{
        width: 200px;
        height: 70px;
        font-size: 20px;
    }
    
    .telephoneUser{
        font-size: 25px;
    }
    .userInfoCard{
        gap: 10px;
    }
    .userStateText{
        padding-left: 50px;
    }
    .notificationsState{
        padding: 5px 50px 5px 50px;
        background-color: white;
    }
    .messageEncryption{
        gap: 20px;
        padding: 5px 0px 5px 40px;
    }
    .encryptionTitle{
        margin-bottom: 5px;
    }
}


@media screen and (min-width: 1680px) {
    .userInfo{
        font-size: 30px;
    }
    .imgUser{
        width: 150px;
        height: 150px;
    }
    .btnFunction{
        width: 250px;
        height: 95px;
        font-size: 28px;
    }
    
    .telephoneUser{
        font-size: 35px;
    }
    .userStateText{
        padding-left:55px;
    }
    .notificationsState{
        padding: 5px 50px 5px 50px;
        background-color: white;
    }
    .messageEncryption{
        gap: 17px;
        padding: 5px 0px 5px 40px;
    }
    .encryptionTitle{
        margin-bottom: 5px;
        font-size: 30px;
    }
    .encryptionText{
        font-size: 25px;
    }
    .lockIcon{
        font-size: 35px;
        margin-left: 7px;
    }
}