.checkSeen{
    color: rgb(0, 195, 255);
}

.otroMessage, .yoMessage{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
    border: solid 1px rgba(0, 0, 0, 0.096);
    border-radius: 10px;
    margin: 10px 10px 18px 10px;
    padding: 3px 10px 3px 10px;
}

.yoMessage{
    background-color: var(--chat-color);
    position: relative;
    left: 25%;
}

.otroMessage{
    background-color: var(--textArea-color);
}

.author{
    font-weight: 500;
}
.messageContent{
    font-size: 14px;
    padding: 7px 0px 3px 10px;

}

.footerMessage{
    display: flex;
    justify-content: end;
    gap: 2px;
}

.date{
    font-size: 13px;
}

